<form method="POST" action="/auctions/<%= @auction.id %>">

<h2>Welcome, <%= @user.username %></h2>

<h3>Auction Name: <%= @auction.name %></h3>
<p>Descrption: <%= @auction.description %><p>
<p>Current Bid: $<%= @auction.current_bid %>.00</p>
<p>Current Bids: <%= @auction.total_bids %>

<p>Last Bid: <%= @auction.updated_at %> 
<p>Created By: <%= @auction.created_by %> <%= @auction.user_id %>
<p>Image URL: <img src="<%= @auction.image_url %>"> </p>



<p><a href='/auctions'<button>Back to Auctions</a></p>
<p><a href="/logout"><button>Log Out</button></a></p>

<p>Enter your Bid: <input type="number" name="bid_amount">
<br>
<input type="submit" value="submit">
</form>