<h2 align="center"><%= @auction.name %></h2>
<form method="POST" action="/auctions/<%= @auction.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <br>
  <label>Edit Name: </label>
  <input type="text" name="name" id="name" value="<%= @auction.name %>"><br>
  <label>Edit Description: </label>
  <input type="text" name="description" id="description" value="<%= @auction.description %>"><br>
  <label>Edit Image Url: </label>
  <input type="text" name="image_url" id="image_url" value="<%= @auction.image_url %>"><br>
  <label>Edit End Date: </label>
  <input type="date" name="end_date" id="end_date">
  <p><input type="submit" value="Submit Changes">
  <a href='/bids'><button class="button button2">Back to My Auctions</button></a></p>
</form>

<form method="POST" action="/auctions/<%= @auction.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Auction">
</form>