
<h2>Welcome, <%= @user.username %></h2>
<div class="sidebar">
<h3>Auction Name: <%= @auction.name %></h3>
<p>Descrption: <%= @auction.description %><p>
<p>Current Bid: $<%= @auction.current_bid %>.00</p>
<p>Current Bids: <%= @auction.total_bids %>
<p>Last Bid: <%= @auction.updated_at %> 

<p>Created By: <%= @auction.created_by %>
</div>
<p>Image URL: <img src="<%= @auction.image_url %>"> </p>


<p><a href='/bids'><button>Back to All Auctions</button></a></p>
<p><a href='/bids'><button>Back to My Auctions</button></a></p>
<p><a href="/logout"><button>Log Out</button></a></p>